body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5c372;
}

#calculator {
    background-color: #f2e8d8;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    max-width: 400px;
    border: 1px solid #d9c9b1;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#display {
    height: 60px;
    background-color: #f7f1e5;
    border: 1px solid #d9c9b1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#upperDisplay {
    font-size: 1rem;
    text-align: right;
    flex: auto;
}

#lowerDisplay {
    font-size: 2rem;
    text-align: right;
    flex: auto;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#btnClear,
#btnDelete {
    background-color: #d9c9b1;
    border: 1px solid #c3b29e;
    border-radius: 5px;
    flex: 1;
    color: #413b32;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#btnClear:hover,
#btnDelete:hover {
    background-color: #c3b29e;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 5px;
}

.num-btn,
.op-btn,
.equal-btn {
    background-color: #f7f1e5;
    border: 1px solid #d9c9b1;
    border-radius: 5px;
    color: #413b32;
    font-size: 1.5rem;
    padding: 10px;
    width: 75px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.op-btn{
    background-color: #f6af22;
}

.num-btn:hover{
    background-color: #e7d4b8;
}

.op-btn:hover {
    background-color: #d78305;
}

.equal-btn {
    background-color: #bfae7f;
    color: #fff;
}

.equal-btn:hover {
    background-color: #a89362;
}